* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #212121;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1006px;
    padding: 0 20px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 15px;
}


/* HEADER
-------------------------------------- */
header {
    margin-bottom: 86px;
}

h1 {
    max-width: 100%;
    margin: 27px 0 27px;
    font-weight: 700;
}

h1 a {
    display: flex;
    justify-content: center;
}

h1 span {
    display: flex;
    align-items: center;
    color: #FF4F00;
}

h1 span:last-child {
    flex-direction: column;
    color: #FFF;
    background-color: #FF4F00;
    max-width: 38px;
}


/* MAIN
-------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

/* Input for creating notes */
.items-creation {
    min-width: 83%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 22px;
}

.input-creation {
    min-width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 30px;
    background-color: #F0F5F8;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: calc(24 / 35);
    letter-spacing: .48px;
    outline: none;
    padding: 16px 30px;
}

.submit-creation,
.submit-creation-red {
    min-width: 33%;
    padding: 21px 0;
    background-color: #00C55A;
    border: 1px solid #00C55A;
    border-radius: 30px;
    position: absolute;
    transform: translate(102%, 0);
    cursor: pointer;
}

.submit-creation:hover,
.submit-creation-red:hover {
    box-shadow: inset -1px 0 10px 0 #000;
	transition: .3s ease;
}

.submit-creation-red {
    background-color: #FF3D00;
    border: 1px solid #FF3D00;
}

.submit-creation__save {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(24 / 44);
    letter-spacing: .48px;
}

.submit-creation__save::before {
    content: attr(data-text);
}


/* TODO-list */
.todo-list {
    min-width: 83%;
    margin-bottom: 42px;
}

.todo-list__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #F0F5F8;
    border-radius: 30px;
    background-color: #F0F5F8;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: calc(24 / 35);
    letter-spacing: .48px;
    outline: none;
    padding: 15px 35px;
    margin-bottom: 9px;
}

.todo-list__item p {
    display: flex;
    align-items: center;
}

.todo-list_buttons {
    display: flex;
    justify-content: space-between;
}

.save,
.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    min-width: 62px;
    min-height: 62px;
    cursor: pointer;
    border: none;
}

.save {
    background-image: url(../img/safe.svg);
    background-color: #f00;
    margin-right: 5px;
}

.save:hover,
.delete:hover {
    box-shadow: inset 0 0 5px 0 #000;
	transition: .3s ease;
}

.save-success {
    background-color: #00C45A;
}

.delete {
    background-image: url(../img/delete-gray.svg);
    background-color: #F0F5F8;
}

.delete-red {
    background-image: url(../img/delete-red.svg);
}

.clean-items,
.clean-items-red {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../img/clean-items.svg);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: top 20% center;
    border: none;
    padding: 25px 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.clean-items-red {
    background-image: url(../img/clean-items-red.svg);
}

.clean-items:hover,
.clean-items-red:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
	transition: .3s ease;
} 

.clean-items span,
.clean-items-red span {
    color: #989898;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(16 / 29);
    letter-spacing: .32px;
    text-transform: uppercase;
    padding-top: 20px;
}

.clean-items-red span {
    color: #F00;
}